// system colors
@colorForeground: #ffffff;
@colorBackground: #1E1E1E;
@colorModalBackground: #242424;
@colorAccent: #317af7;
@textColorPrimary: rgba(255,255,255,0.86);
@textColorSecondary: rgba(255,255,255,0.6);
@textColorPlaceholder: #666666;
@colorFourth: rgba(255,255,255,0.2);
@colorActivated: #5291ff;
@colorHover: rgba(255,255,255,0.1);
@border-color: #979797;
@input-background-color: @colorModalBackground;
@input-border-color: #474747;
@dropdown-background-color: #2c2d2e;
@option-hover-color: #505050;
@option-selected-color: #646464;
@button-primary-background: #5291ff;
@cancel-button-backgroundColor: #333333;

//antd
@body-background: @colorBackground;
@primary-color: @colorActivated;
@message-background: #404040;
@select-input-border-color: @colorFourth;
