@import '../../../node_modules/antd/dist/antd.less';

.width100 { width: 100% !important; }

.ant-input-text {
  color: @textColorSecondary !important;
}

// Modal drag handle cursor
.ant-modal-header { cursor: move; user-select: none; }

// Cancel button style
.ant-btn:not(.ant-btn-primary) {
  background-color: @cancel-button-backgroundColor;
}
